## OS specific ########
.DS_Store
.fuse_hidden*
*.pyc
*.log

## Localised setting ######
*.bak
*.save
P1Meter/P1OverrideSettings.h
notes.txt
compile_version_notes.txt
gitignore*

## Program related ##
P1Meter/*.txt
## do not sync save/copy files
P1Meter/*.ino*
## do not sync /tmp output copied to here
*arduino_build_*/

## Project files ######
.platformio
.pio
.clang_complete
.gcc-flags.json
.cache
build
build_output
firmware.map
firmware.asm
P1Meter/P1Meter.ino.cpp
P1Meter*.bin
P1Meter*.bin.gz
P1Meter*.map
platformio_override.ini
platformio_P1Meter_cenv.ini
telegram0crlf.txt
# my local save/play files
p1-analyse-*.txt

## Visual Studio Code specific ######
.vscode
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
*.bak
*.code-workspace
*.bin
*.elf

