[submodule "libs/DallasTemperature"]
	path = libs/DallasTemperature
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library
[submodule "Arduino-2.4.1"]
	path = Arduino
	url = https://github.com/esp8266/Arduino
	branch = 2.4.1
